/proyectoSisDos/nbproject/private/
/proyectoSisDos/build/
/proyectoSisDos/src/registroherramienta/build/
/proyectoSisDos/src/registroherramienta/nbproject/private/
/AutoSis/nbproject/private/
/AutoSis/build/
/proyectoSisDos/src/Vista/AutoSis/build/
/proyectoSisDos/src/Vista/AutoSis/nbproject/private/
/proyectoSisDos/src/RegistroRepuesto/build/
/proyectoSisDos/src/RegistroRepuesto/nbproject/private/